<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удалить запись</title>
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Вы уверены, что хотите удалить запись "{{ record.name }}"?</h1>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Удалить</button>
            <a href="{% url 'home' %}">Отмена</a>
        </form>
    </div>
</body>
</html>
